---
import Tooltip from "../../../shared/Tooltip.svelte";

const props = Astro.props;
const { img, classes } = props;
---

<Tooltip message={img.alt}>
  <div class="jm-path-tech-icon__container">
    <img
      src={img.src}
      alt={img.alt}
      class:list={classes}
      width="24"
      height="24"
    />
  </div>
</Tooltip>

<style>
  @keyframes show {
    from {
      opacity: 0.25;
      scale: 50%;
    }
    to {
      opacity: 1;
      scale: 100%;
    }
  }

  img {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 50% cover 50%;
    animation-fill-mode: both;
  }
</style>
