---
import { translate } from "../../stores/i18nStore";
const t = translate.get();
---

<section class="jm-about" id="#about">
  <div class="jm-about__container">
    <div class="jm-about__image-container">
      <img
        src="/images/about/aboutPortfolio.jpg"
        alt="Developer portrair photo"
        class="rounded grayscale hover:grayscale-0"
      />
    </div>
    <div class="jm-about__content">
      <div class="jm-about__content-description">
        <h2 class="jm-about__title">{t("about.title")}</h2>
        <p class="jm-about__paragraph" set:html={t("about.description1")} />
        <p class="jm-about__paragraph">{t("about.description2")}</p>
        <p class="jm-about__paragraph">{t("about.description3")}</p>
      </div>
      <ul class="jm-about__list jm-about__paragraph">
        <li class="jm-about__list-item">
          <span>{t("about.list_item1")}</span><span>Javier Martínez Arias</span>
        </li>
        <li class="jm-about__list-item">
          <span>{t("about.list_item2")}</span><span>10/09/1996</span>
        </li>
        <li class="jm-about__list-item">
          <span>{t("about.list_item3")}</span><span>Elche (Alicante)</span>
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
  .jm-about {
    @apply w-full flex justify-center items-center bg-white py-8;
  }

  .jm-about__container {
    @apply w-full max-w-6xl flex flex-col-reverse flex-grow justify-start items-center gap-x-16;
  }

  .jm-about__image-container {
    @apply w-full object-contain flex justify-center;
  }

  .jm-about__content {
    @apply flex flex-col justify-between pt-4 pb-8 px-4 gap-y-4;
  }

  .jm-about__content-description {
    @apply w-full flex flex-col gap-y-1;
  }

  .jm-about__title {
    @apply text-4xl font-bold mb-6;
  }

  .jm-about__paragraph {
    @apply font-normal leading-6 text-base text-gray-600;
  }

  .jm-about__list {
    @apply flex flex-col gap-y-2;
  }

  .jm-about__list-item {
    @apply flex justify-between items-center gap-x-4;
  }

  .jm-about__list-item span:first-child {
    @apply flex-1 min-w-0 mr-4;
  }

  .jm-about__list-item span:last-child {
    @apply flex-1 overflow-hidden overflow-ellipsis;
  }

  .jm-about__list-item > span:first-child {
    @apply font-bold;
  }

  @screen md {
    .jm-about {
      @apply px-8 py-16;
    }

    .jm-about__container {
      @apply flex-row;
    }

    .jm-about__content {
      @apply gap-y-8;
    }

    .jm-about__title {
      @apply text-5xl;
    }

    .jm-about__paragraph {
      @apply text-lg leading-7;
    }
  }
</style>
