---
import { translate } from "@stores/i18nStore";
import EmailIcon from "../icons/EmailIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
const t = translate.get();
---

<section class="jm-contact" id="contact">
  <div class="jm-contact__container">
    <h2 class="text-center">{t("contact.title")}</h2>
    <p class="mt-8 mb-2 flex self-center">
      Disponible para consultas ámbito profesional, a través de los siguientes
      medios.<br /> ¡Responderé lo antes posible!
    </p>
    <div class="jm-contact__content">
      <a href="mailto:jma96.elx@gmail.com" class="jm-contact__card">
        <span class="p-4 rounded-full bg-primary-500">
          <EmailIcon classList="w-20 h-20 p-2 text-white" />
        </span>
        <b>Email</b>
      </a>

      <a
        href="https://www.linkedin.com/in/javier-mart%C3%ADnez-arias-6555b8166/"
        class="jm-contact__card"
      >
        <span class="p-4 rounded-full bg-primary-500">
          <LinkedInIcon classList="w-20 h-20 p-4 text-white" />
        </span>
        <b>Linkedin</b>
      </a>
    </div>
  </div>
</section>

<style>
  h2 {
    @apply text-4xl font-bold;
  }

  .jm-contact {
    @apply w-full flex flex-col justify-center items-center bg-white px-8 py-24;
  }

  .jm-contact__container {
    @apply w-full flex flex-col mb-12;
    max-width: 40.25rem;
  }

  .jm-contact__content {
    @apply flex flex-col justify-around gap-4 mt-8;
  }

  @screen md {
    .jm-contact__content {
      @apply flex-row;
    }
  }

  .jm-contact__card {
    @apply flex flex-col items-center gap-3 rounded-lg border border-gray-300 p-8 shadow-lg cursor-pointer;
  }

  .jm-contact__card:hover {
    @apply bg-gray-100;
  }

  .jm-contact__card:hover > b {
    @apply underline;
  }
</style>
