---
import { translate } from "@stores/i18nStore";
import EmailIcon from "../icons/EmailIcon.astro";
import LinkedInIcon from "../icons/LinkedInIcon.astro";
const t = translate.get();
---

<section class="jm-contact" id="contact">
  <div class="jm-contact__container">
    <h2 class="text-center">{t("contact.title")}</h2>
    <p class="mb-2 mt-8 flex self-center" set:html={t("contact.subtitle")} />
    <div class="jm-contact__content">
      <a
        href="mailto:jma96.elx@gmail.com"
        class="jm-contact__card"
        aria-label={t("contact.accessible.email")}
      >
        <span class="rounded-full bg-primary-500 p-4">
          <EmailIcon classList="w-20 h-20 p-2 text-white" />
        </span>
        <b>Email</b>
      </a>

      <a
        href="https://www.linkedin.com/in/javier-mart%C3%ADnez-arias-6555b8166/"
        class="jm-contact__card"
        target="_blank"
        aria-label={t("contact.accessible.linkedin")}
      >
        <span class="rounded-full bg-primary-500 p-4">
          <LinkedInIcon classList="p-4 text-white" size={80} />
        </span>
        <b>Linkedin</b>
      </a>
    </div>
  </div>
</section>

<style>
  h2 {
    @apply text-4xl font-bold;
  }

  .jm-contact {
    @apply flex w-full flex-col items-center justify-center px-8 py-24;
  }

  .jm-contact__container {
    @apply mb-12 flex w-full flex-col;
    max-width: 40.25rem;
  }

  .jm-contact__content {
    @apply mt-8 flex flex-col justify-around gap-4;
  }

  @screen md {
    .jm-contact__content {
      @apply flex-row;
    }
  }

  .jm-contact__card {
    @apply flex cursor-pointer flex-col items-center gap-3 rounded-lg border border-gray-300 p-8 shadow-lg;
  }

  .jm-contact__card:hover {
    @apply bg-gray-100 dark:bg-gray-700;
  }

  .jm-contact__card:hover > b {
    @apply underline;
  }
</style>
