---
import PathCard from "./path/PathCard.astro";
import PathLanguageCard from "./path/PathLanguageCard.astro";
interface PathCardData {
  title: string;
  icon?: Element;
}

interface PathCardMainData extends PathCardData {
  description?: string;
  location: string;
  dateRange: string;
}

interface PathExperienceCardData extends PathCardMainData {
  techIcons: Element[];
}

interface PathLanguageCardData {
  title: string;
  icon?: Element;
  date: string;
  certificate: string;
}

const pathStudiesData: PathCardMainData[] = [
  {
    dateRange: "2020-2022",
    title: "Máster en Informática móvil",
    location: "Universidad Pontificia de Salamanca",
    description:
      "Especializado en el desarrollo de aplicaciones Android, IOS e híbridas",
  },
  {
    dateRange: "2014-2019",
    title: "Ingeniería Multimedia",
    location: "Universidad de Alicante",
    description:
      "Especializado en desarrollo de páginas web, videojuegos y creación de contenidos multimedia (imágen, video, etc.)",
  },
  {
    dateRange: "2012-2014",
    title: "Bachillerato tecnológico\n",
    location: "Instituto IES Victoria Kent (Elche)",
  },
];

const pathExperienceData: PathExperienceCardData[] = [
  {
    title: "Desarollador Frontend",
    location: "Mamby Investments",
    description:
      "Desarrollo frontend de una aplicación web con Nuxt.js, Vue.js, Typescript y CSS. Aplicación de una plataforma de creación de contenido.",
    dateRange: "marzo 2021 - actualidad",
    techIcons: [],
  },
  {
    title: "Desarollador web Java",
    location: "Mamby Investments",
    description:
      "Desarrollo frontend de una aplicación web con Nuxt.js, Vue.js, Typescript y CSS",
    dateRange: "junio 2020 - marzo 2021",
    techIcons: [],
  },
  {
    title: "Desarollador web y host",
    location: "Everis Murcia",
    description:
      "Desarrollo y mantenimiento de aplicaciones de telefonía utilizando JSP, Javascript y Java, para la parte web, y Cobol así como la gestión de bases de datos DB2 y SQL Server para la parte Host.",
    dateRange: "junio 2019 - junio 2020",
    techIcons: [],
  },
  {
    title: "Desarrollador web",
    location: "Aire Networks",
    description:
      "Desarrollo y mantenimiento de un ERP de telefonía utilizando HTML, CSS, Javascript, PHP y gestión de bases de datos con MySQL",
    dateRange: "julio 2018 - abril 2019",
    techIcons: [],
  },
  {
    title: "Desarrollador web en prácticas",
    location: "Aire Networks",
    description:
      "Desarrollo y mantenimiento de un ERP de telefonía utilizando HTML, CSS, Javascript, PHP y gestión de bases de datos con MySQL",
    dateRange: "mayo 2018 - julio 2018",
    techIcons: [],
  },
];

const pathLanguagesData: PathLanguageCardData[] = [
  {
    title: "Español",
    certificate: "Lengua materna",
    date: "",
  },
  {
    title: "Inglés",
    date: "2015",
    certificate: "First Certificate (B2) - Cambridge",
  },
  {
    title: "Valenciano",
    date: "2012",
    certificate: "Mitjà (C1) - Junta Qualificadora (JQCV)",
  },
];
---

<section class="jm-path">
  <div class="jm-path__container">
    <div class="relative">
      <nav class="sticky left-0 top-64 p-4 mt-20">
        <ul>
          <li><a href="#">Estudios</a></li>
          <li><a href="#">Experiencia</a></li>
          <li><a href="#">Tecnologías</a></li>
        </ul>
      </nav>
    </div>
    <div class="jm-path__content">
      <h2 class="jm-path__title">Trayectoria</h2>
      <h3>Estudios</h3>
      {
        pathStudiesData.map((studyData) => {
          return <PathCard data={studyData} />;
        })
      }
      <h3>Idiomas</h3>
      {
        pathLanguagesData.map((languageData) => {
          return <PathLanguageCard data={languageData} />;
        })
      }
      <h3>Experiencia</h3>
      {
        pathExperienceData.map((experienceData) => {
          return <PathCard data={experienceData} />;
        })
      }
      <h3>Tecnologías</h3>
    </div>
  </div>
</section>

<style>
  .jm-path {
    @apply w-full flex justify-center items-center bg-white py-8;
  }

  .jm-path__container {
    @apply w-full max-w-6xl flex flex-grow justify-start gap-x-16;
  }

  .jm-path__content {
    @apply flex flex-col justify-between pt-4 pb-8 px-4 gap-y-4;
  }

  .jm-path__title {
    @apply text-4xl font-bold mb-6;
  }

  @screen md {
    .jm-path {
      @apply px-8 py-16;
    }
  }

  h3 {
    @apply font-bold;
  }
</style>
