---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
import {
  getPathExperienceItems,
  getPathLanguagesItems,
  getPathStudiesItems,
} from "../../static/pathItems";
import getPathMenuItems from "../../static/pathMenuItems";
import PathSectionMain from "./path/PathSectionMain.astro";
import PathSectionLanguage from "./path/PathSectionLanguage.astro";
import PathSideMenu from "./path/PathSideMenu.astro";
import getPathTechItems from "../../static/pathTechItems";
import PathSectionTech from "./path/PathSectionTech.astro";

const pathStudiesData = getPathStudiesItems(t);
const pathLanguagesData = getPathLanguagesItems(t);
const pathExperienceData = getPathExperienceItems(t);
const pathMenuItems = getPathMenuItems(t);
---

<section class="jm-path">
  <div class="jm-path__container">
    <PathSideMenu menuItems={pathMenuItems} />
    <main class="jm-path__content">
      <h2 class="jm-path__title">{t("path.title")}</h2>
      <PathSectionMain
        sectionId="studies"
        title={t("path.studies")}
        items={pathStudiesData}
      >
        <PathSectionLanguage
          sectionId="languages"
          title={t("path.languages")}
          items={pathLanguagesData}
        />
      </PathSectionMain>
      <PathSectionMain
        sectionId="experience"
        title={t("path.experience")}
        items={pathExperienceData}
      />
      <PathSectionTech />
    </main>
  </div>
</section>

<style>
  .jm-path {
    @apply w-full flex justify-center items-center bg-white py-8;
  }

  .jm-path__container {
    @apply w-full max-w-6xl flex flex-col flex-grow justify-start gap-x-16;
  }

  .jm-path__content {
    @apply flex flex-col justify-between pt-4 pb-8 px-4 gap-y-4;
  }

  .jm-path__title {
    @apply text-4xl font-bold mb-6;
  }

  @screen md {
    .jm-path {
      @apply px-8 py-16;
    }

    .jm-path__container {
      @apply flex flex-row;
    }
  }

  .jm-path__content > section {
    @apply mb-4;
  }
</style>
