---
import { translate } from "@stores/i18nStore";
const t: Function = translate.get();

import {
  getPathExperienceItems,
  getPathLanguagesItems,
  getPathStudiesItems,
} from "../../static/pathItems";
import getPathMenuItems from "../../static/pathMenuItems";
import PathSectionMain from "./path/PathSectionMain.astro";
import PathSectionLanguage from "./path/PathSectionLanguage.astro";
import PathSideMenu from "./path/PathSideMenu.svelte";
import PathSectionTech from "./path/PathSectionTech.astro";

const pathStudiesData = getPathStudiesItems(t);
const pathLanguagesData = getPathLanguagesItems(t);
const pathExperienceData = getPathExperienceItems(t);
const pathMenuItems = getPathMenuItems(t);
---

<section class="jm-path" id="path">
  <div class="jm-path__container">
    <PathSideMenu menuItems={pathMenuItems} client:load />
    <main class="jm-path__content">
      <h2 class="jm-path__title">{t("path.title")}</h2>
      <PathSectionMain
        sectionId="studies"
        title={t("path.studies")}
        items={pathStudiesData}
      >
        <PathSectionLanguage
          sectionId="languages"
          title={t("path.languages")}
          items={pathLanguagesData}
        />
      </PathSectionMain>
      <PathSectionMain
        sectionId="experience"
        title={t("path.experience")}
        items={pathExperienceData}
      />
      <PathSectionTech />
    </main>
  </div>
</section>

<style>
  .jm-path {
    @apply flex w-full items-center justify-center py-8;
  }

  .jm-path__container {
    @apply flex w-full max-w-6xl flex-grow flex-col justify-start gap-x-16;
  }

  .jm-path__content {
    @apply flex flex-col justify-between gap-y-4 px-4 pb-8 pt-4;
  }

  .jm-path__title {
    @apply text-4xl font-bold;
  }

  @screen md {
    .jm-path {
      @apply px-8 py-16;
    }

    .jm-path__container {
      @apply flex flex-row;
    }
  }

  .jm-path__content > section {
    @apply mb-4;
  }
</style>
