---
import PathCard from "./path/PathCard.astro";
import PathLanguageCard from "./path/PathLanguageCard.astro";

interface IconData {
  src: string;
  alt: string;
  classes: string;
}

interface PathCardData {
  title: string;
  icon?: IconData;
}

interface PathCardMainData extends PathCardData {
  description?: string;
  location: string;
  dateRange: string;
}

interface PathExperienceCardData extends PathCardMainData {
  techIcons: IconData[];
}

interface PathLanguageCardData {
  title: string;
  icon?: IconData;
  date: string;
  certificate: string;
}

const pathStudiesData: PathCardMainData[] = [
  {
    dateRange: "2020-2022",
    title: "Máster en Informática móvil",
    location: "Universidad Pontificia de Salamanca",
    description:
      "Especializado en el desarrollo de aplicaciones Android, IOS e híbridas",
    icon: {
      src: "/images/upsa_logo.jpeg",
      alt: "UPSA - Máster en Informática Móvil",
      classes: "",
    },
  },
  {
    dateRange: "2014-2019",
    title: "Ingeniería Multimedia",
    location: "Universidad de Alicante",
    description:
      "Especializado en desarrollo de páginas web, videojuegos y creación de contenidos multimedia (imágen, video, etc.)",
    icon: {
      src: "/images/ua_logo.jpeg",
      alt: "UA - Grado en Ingeniería Multimedia",
      classes: "",
    },
  },
  {
    dateRange: "2012-2014",
    title: "Bachillerato tecnológico",
    location: "Instituto IES Victoria Kent (Elche)",
    icon: {
      src: "/images/vk_logo.jpg",
      alt: "IES Victoria Kent - Bachillerato tecnológico",
      classes: "",
    },
  },
];

const pathExperienceData: PathExperienceCardData[] = [
  {
    title: "Desarollador Frontend",
    location: "Mamby Investments",
    description:
      "Desarrollo frontend de una aplicación web con Nuxt.js, Vue.js, Typescript y CSS. Aplicación de una plataforma de creación de contenido.",
    dateRange: "marzo 2021 - septiembre 2023 (2 años y ",
    techIcons: [],
    icon: {
      src: "/images/mamby_logo.jpeg",
      alt: "Everis logo",
      classes: "",
    },
  },
  {
    title: "Desarollador web Java",
    location: "Everis Alicante",
    description:
      "Desarrollo y mantenimiento de aplicaciones de banca utilizando JSP, Java, Spring Webflow y Oracle SQL",
    dateRange: "junio 2020 - marzo 2021 (10 meses)",
    icon: {
      src: "/images/everis_logo.jpeg",
      alt: "Everis logo",
      classes: "",
    },
    techIcons: [],
  },
  {
    title: "Desarollador web y host",
    location: "Everis Murcia",
    description:
      "Desarrollo y mantenimiento de aplicaciones de telefonía utilizando JSP, Javascript y Java, para la parte web, y Cobol así como la gestión de bases de datos DB2 y SQL Server para la parte Host.",
    dateRange: "junio 2019 - junio 2020 (1 año)",
    icon: {
      src: "/images/everis_logo.jpeg",
      alt: "Everis logo",
      classes: "",
    },
    techIcons: [],
  },
  {
    title: "Desarrollador web",
    location: "Aire Networks",
    description:
      "Desarrollo y mantenimiento de un ERP de telefonía utilizando HTML, CSS, Javascript, PHP y gestión de bases de datos con MySQL",
    dateRange: "julio 2018 - marzo 2019 (9 meses)",
    techIcons: [],
    icon: {
      src: "/images/airenetworks_logo.jpeg",
      alt: "Aire Networks logo",
      classes: "",
    },
  },
  {
    title: "Desarrollador web en prácticas",
    location: "Aire Networks",
    description:
      "Desarrollo y mantenimiento de un ERP de telefonía utilizando HTML, CSS, Javascript, PHP y gestión de bases de datos con MySQL",
    dateRange: "mayo 2018 - julio 2018 (3 meses)",
    icon: {
      src: "/images/airenetworks_logo.jpeg",
      alt: "Aire Networks logo",
      classes: "",
    },
    techIcons: [],
  },
];

const pathLanguagesData: PathLanguageCardData[] = [
  {
    title: "Español",
    certificate: "Lengua materna",
    date: "·",
    icon: {
      src: "/images/spanish_logo.png",
      alt: "Spanish logo",
      classes: "",
    },
  },
  {
    title: "Inglés",
    date: "2015",
    certificate: "First Certificate (B2) - Cambridge",
    icon: {
      src: "/images/english_logo.png",
      alt: "English logo",
      classes: "",
    },
  },
  {
    title: "Valenciano",
    date: "2012",
    certificate: "Mitjà (C1) - Junta Qualificadora (JQCV)",
    icon: {
      src: "/images/valencian_logo.png",
      alt: "Valencian logo",
      classes: "",
    },
  },
];
---

<section class="jm-path">
  <div class="jm-path__container">
    <div class="relative">
      <nav class="sticky left-0 top-64 p-4 mt-20">
        <ul>
          <li><a href="#">Estudios</a></li>
          <li><a href="#">Experiencia</a></li>
          <li><a href="#">Tecnologías</a></li>
        </ul>
      </nav>
    </div>
    <main class="jm-path__content">
      <h2 class="jm-path__title">Trayectoria</h2>
      <section>
        <h3>Estudios</h3>
        {
          pathStudiesData.map((studyData, index) => {
            return (
              <div class="jm-path__section-card">
                <PathCard data={studyData} />
                {index !== pathStudiesData.length - 1 ? <hr /> : <Fragment />}
              </div>
            );
          })
        }
        <h4>Idiomas</h4>
        {
          pathLanguagesData.map((languageData, index) => {
            return (
              <div class="jm-path__section-card">
                <PathLanguageCard data={languageData} />
                {index !== pathLanguagesData.length - 1 ? <hr /> : <Fragment />}
              </div>
            );
          })
        }
      </section>
      <section>
        <h3>Experiencia</h3>
        {
          pathExperienceData.map((experienceData, index) => {
            return (
              <div class="jm-path__section-card">
                <PathCard data={experienceData} />
                {index !== pathExperienceData.length - 1 ? (
                  <hr />
                ) : (
                  <Fragment />
                )}
              </div>
            );
          })
        }
      </section>
      <section>
        <h3>Tecnologías</h3>
      </section>
    </main>
  </div>
</section>

<style>
  .jm-path {
    @apply w-full flex justify-center items-center bg-white py-8;
  }

  .jm-path__container {
    @apply w-full max-w-6xl flex flex-grow justify-start gap-x-16;
  }

  .jm-path__content {
    @apply flex flex-col justify-between pt-4 pb-8 px-4 gap-y-4;
  }

  .jm-path__title {
    @apply text-4xl font-bold mb-6;
  }

  .jm-path__section-card {
    @apply flex flex-col gap-4 mt-5 mb-6;
  }

  @screen md {
    .jm-path {
      @apply px-8 py-16;
    }
  }

  h3 {
    @apply font-bold text-2xl text-blue-700;
  }

  h4 {
    @apply font-bold text-blue-700;
    font-size: 1.33rem;
  }

  .jm-path__content > section {
    @apply mb-4;
  }
</style>
