---
import HorizontalScroll from "../../shared/HorizontalScroll.astro";
import { getPathTechFrameworksItems } from "../../../static/pathTechFrameworkItems";
import PathTechIcon from "./icons/PathTechIcon.astro";
import { getPathTechLanguagesItems } from "../../../static/pathTechLanguageItems";
import { getPathTechSoftwareItems } from "../../../static/pathTechSoftwareItems";
import { getPathTechIDEItems } from "../../../static/pathTechIDEItems";
import { translate } from "../../../stores/i18nStore";
import IconData from "@types/IconData";
const t = translate.get();

const pathTechLangItems = getPathTechLanguagesItems();
const pathTechFrameworksItems = getPathTechFrameworksItems();
const pathTechSoftwareItems = getPathTechSoftwareItems();
const pathTechIDEItems = getPathTechIDEItems();
---

<section id="tech" class="pt-6">
  <h3>{t("path.tech")}</h3>
  <section>
    <h4>{t("path.tech.languages")}</h4>
    <div>
      <HorizontalScroll>
        {
          pathTechLangItems.map((img: IconData) => (
            <li>
              <PathTechIcon img={img} classes="w-12 mx-2" />
            </li>
          ))
        }
      </HorizontalScroll>
    </div>
  </section>
  <section>
    <h4>{t("path.tech.frameworks")}</h4>

    <div>
      <HorizontalScroll>
        {
          pathTechFrameworksItems.map((img: IconData) => (
            <li>
              <PathTechIcon img={img} classes="w-12 mx-2" />
            </li>
          ))
        }
      </HorizontalScroll>
    </div>
  </section>
  <section>
    <h4>{t("path.tech.programs")}</h4>
    <div>
      <HorizontalScroll>
        {
          pathTechSoftwareItems.map((img: IconData) => (
            <li>
              <PathTechIcon img={img} classes="w-12 mx-2" />
            </li>
          ))
        }
      </HorizontalScroll>
    </div>
  </section>
  <section>
    <h4>{t("path.tech.ides")}</h4>
    <div>
      <HorizontalScroll>
        {
          pathTechIDEItems.map((img: IconData) => (
            <li>
              <PathTechIcon img={img} classes="w-12 mx-2" />
            </li>
          ))
        }
      </HorizontalScroll>
    </div>
  </section>
</section>

<style>
  h3 {
    @apply font-bold text-2xl text-blue-700;
  }

  h4 {
    @apply font-semibold text-lg text-gray-700 mt-4;
  }

  li {
    flex: 0 0 auto;
  }
</style>
