---
import PathCard from "./cards/PathCard.astro";

const props = Astro.props;
const { sectionId, title, items } = props;
---

<section id={sectionId} class="pt-6">
  <h3>{title}</h3>
  {
    items.map((item, index) => {
      return (
        <div
          class="jm-path__section-card"
          class:list={index !== items.length - 1 ? "mb-8" : "mb-2"}
        >
          <PathCard data={item} />
          {index !== items.length - 1 ? <hr /> : <Fragment />}
        </div>
      );
    })
  }
  <slot />
</section>

<style>
  .jm-path__section-card {
    @apply flex flex-col gap-4 mt-5;
  }

  h3 {
    @apply font-bold text-2xl text-blue-700;
  }
</style>
