---
const props = Astro.props;
const { icon, title, date, certificate } = props.data;
---

<div class="jm-path-studies-card">
  <div class="jm-path-studies-card__image">{icon}</div>
  <div class="jm-path-studies-card__content">
    <div class="jm-path-studies-card__header">
      <h3>{title}</h3>
    </div>
    <div>
      <h4 class="flex gap-1"><span>{date}</span>{certificate}</h4>
    </div>
  </div>
</div>
