---
import Header from "@components/layout/Header.svelte";
import "@styles/main.css";
import Footer from "@components/layout/Footer.astro";
import { currentLang } from "@stores/i18nStore";

interface Props {
  title: string;
}

const { title } = Astro.props;
const lang = currentLang.get();
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/avif" href="/favicon.png" />
    <link
      rel="preload"
      href="/fonts/poppins.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/poppins2.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <Header client:load />
  <slot />
  <Footer />
  <style is:global>
    html {
      @apply scroll-smooth;
      color-scheme: dark light;
      scrollbar-gutter: stable;
    }

    /* Default styles */
    body {
      @apply font-poppins text-black;
    }

    /* Styles for light background */
    body.light {
      @apply bg-gray-100; /* Default dark background */
      color: #999; /* Dark text color */
    }

    section {
      @apply bg-white dark:bg-gray-900;
    }

    hr {
      @apply block border-0 border-t border-gray-200 p-0 dark:border-gray-700;
    }

    h2,
    h3 {
      @apply text-black dark:text-gray-50;
    }

    h4 {
      @apply text-gray-700 dark:text-gray-200;
    }

    p {
      @apply text-gray-600 dark:text-gray-100;
    }

    b {
      @apply text-gray-600 dark:text-gray-100;
    }

    a > span {
      @apply text-black dark:text-gray-50;
      text-decoration-color: red;
    }
  </style>
</html>
