---
import Header from "../components/Header.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link href="/src/styles/output.css" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
    <Header />
    <slot />
</html>
<style is:global>
  html {
    color-scheme: dark light;
  }

  * {
    @apply font-poppins;
  }

  /* Default styles */
  body {
    background: rgb(0,34,64);
    background: linear-gradient(90deg, rgba(0,34,64,1) 0%, rgba(0,68,128,1) 95%);
    color: #fff;
    font-family: "JetBrains Mono Thin", sans-serif;

  }

  /* Styles for light background */
  body.light {
    @apply bg-gray-100; /* Default dark background */
    color: #999; /* Dark text color */
  }

  button {
    @apply border border-gray-900 p-4;
  }
</style>
